oauth_consumer_key =
oauth_consumer_secret =
oauth_token =
oauth_token_secret =
db_name = twitreader
db_host = 127.0.0.1
db_port = 5432
db_user = twitreader
db_pass =
verbose = 0
# how many tweets we will retrieve when retrieving unseen updates.
# API maximum is 200.
max_tweets_at_once = 200
